@model IndexModel

<p>
    Your number is:
    <strong>@Model.YourNumber</strong>
    <form method="post" action="">
        <input hidden asp-for="YourNumber" />
    </form>
</p>

@if (Model.IncludeListItem)
{
    <ul hx-swap-oob="beforeend:#NumberList">
        <partial name="_NumberListItem" />
    </ul>
}