@page
@model AspHtmxDemo.Pages.Demo.IndexModel

<h1>Hello, World!</h1>

<div id="YourNumber">
    <partial name="_YourNumber" />
</div>

<button class="btn btn-primary my-2 col-2"
        hx-get="@Url.Page("Index", "YourNumber")"
        hx-target="#YourNumber"
        hx-disabled-elt="this">
    <span class="spinner-border spinner-border-sm htmx-indicator" aria-hidden="true"></span>
    <span class="button-text">Get a new number</span>
</button>